<div class="my-5 container text-success">

    <h2>At medicare.com, we not only provide you with a wide range of medicines listed under various categories, we also offer a wide choice of OTC products including wellness products, vitamins, diet/fitness supplements, herbal products, pain relievers, diabetic care kits, baby/mother care products, beauty care products</h2>


</div>

<div class="container text-success">
  <h2>This app is designed using Angular as a Forntend framework and spring boot as a backend</h2>

</div> 
