<div class="container my-5">
  <div class="card border-info mb-3" style="max-width: 30rem;">
    <div class="card-header">Admin Login Form</div>
    <div class="card-body">
      <form #userLogin="ngForm" >
       


        <div class="form-group">
          <label for="adminId">Enter Admin Id</label>
          <input type="text" #adminId="ngModel" required name="adminId" class="form-control" ngModel>
          <div *ngIf="adminId.touched&&adminId.invalid" class="alert alert-danger">
            <p *ngIf="adminId.errors?.['required']">Admin Id required</p>
          </div>
        </div>
  



        <div class="form-group">
          <label for="userpass">Enter Password</label>
          <input type="password" #password="ngModel" required name="password" class="form-control" ngModel>
          <div *ngIf="password.touched&&password.invalid" class="alert alert-danger">
            <p *ngIf="password.errors?.['required']">Password required</p>
          </div>
        </div>

        <button (click)="submit(userLogin)" [disabled]="userLogin.invalid" class="btn btn-primary my-3" type="submit">Login</button>
        <button class="btn btn-danger mx-3" type="reset">Reset </button>
        <br>
        
      </form>
     
    </div>
  </div>
</div>